.book-form-container {
  display: block;
}
.book-form-container-edit {
  display: block;
}

.edit {
  background-color: chartreuse;
}
.submit-book-btn-edit {
  display: block;
}
.submit-book-btn {
  display: block;
}
