@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.book-form-container {
  display: none;
}
.book-form-container-edit {
  display: block;
}

.edit {
  background-color: chartreuse;
}
.submit-book-btn-edit {
  display: block;
}
.submit-book-btn {
  display: block;
}
.app-header {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.app-title {
  padding-top: 20px;
  margin: auto;
}
.add-book-button {
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
}
.book-form-container {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  display: none;
  background-color: aquamarine;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 20vh;
  border-radius: 5px;
}
.book-form-title {
  padding: 20px;
  margin-left: 75px;
}
.book-form {
  padding: 20px;
}
.edit-form {
  display: none;
  background-color: bisque;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.form-group-radio {
  padding-top: 10px;
}
