.book-form-container {
  display: none;
}
.book-form-container-edit {
  display: block;
}

.submit-book-btn-edit {
  display: block;
}
.submit-book-btn {
  display: block;
}
.book-form-title {
  display: block;
}
