.book-form-container {
  display: none;
}
.book-form-container-edit {
  display: block;
}

.submit-book-btn-edit {
  display: block;
}
.submit-book-btn {
  display: block;
}
.book-form-title {
  display: block;
}
/* =============== Header Styles ================= */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myButton {
  background-color: #44c767;
  border-radius: 10px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 7px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
/* =================== Book List ======================== */
body {
  --stripe: #25b9946b;
  --bg: #ffffff6c;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}
.book-list {
}
