@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
* {
  margin: 0;
  padding: 0;
}
.book-form-container,
.form-container {
  display: none;
}
.book-form-container-edit {
  display: none;
}

.submit-book-btn-edit {
  display: block;
}
.submit-book-btn {
  display: block;
}
.book-form-title {
  display: block;
}
.edit-form {
  display: none;
}
.are-you-sure {
  display: none;
}
h3 {
  font-size: 17px;
  text-shadow: -1px -1px 0 #0000007e, 1px -1px 0 #0000007e, -1px 1px 0 #0000007e,
    1px 1px 0 #0000007e;
}
/* =============== Header Styles ================= */
.add-book-button {
  font-family: "PT Sans Caption", sans-serif;
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  border-radius: 3px;
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  width: 45px;
  margin-left: 15px;
  text-shadow: -1px -1px 0 #00000036, 1px -1px 0 #00000036, -1px 1px 0 #00000036,
    1px 1px 0 #00000036;
}
.add-book-button:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
.add-book-button:active {
  position: relative;
  top: 1px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
}
.search-bar {
  margin-right: 10px;
  height: 20px;
  border-radius: 2px;
}
.user-input-search {
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0px 6px 6px 0px;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
  margin-right: 15px;
  opacity: 0.9;
}
.search-btn {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  height: 30px;
  text-decoration: none;
  border-radius: 6px 0px 0px 6px;
}
.search-btn:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
.search-btn:active {
  position: relative;
  top: 1px;
}
.search-container {
  display: flex;
  align-items: center;
}

/* =================== Book List ======================== */
.book-list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: a;
}
body {
  background-image: url("img/x4.jpg");
  display: flex;
  flex-direction: column;
}
.blur {
  backdrop-filter: blur(5px);
  flex-grow: 1;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.info-paragraph-text {
  text-shadow: -1px -1px 0 #00000036, 1px -1px 0 #00000036, -1px 1px 0 #00000036,
    1px 1px 0 #00000036;
}
/* =============== form container======================= */
.form-container {
  height: 100vh;
}
label {
  font-size: 20px;
  text-shadow: -1px -1px 0 #00000036, 1px -1px 0 #00000036, -1px 1px 0 #00000036,
    1px 1px 0 #00000036;
}
.book-form-container {
  background-image: url("img/xx2.png");
  color: aliceblue;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  font-family: "PT Sans Caption", sans-serif;
  margin: auto;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  box-shadow: 1px 2px 18px -1px rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 1px 2px 18px -1px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 1px 2px 18px -1px rgba(0, 0, 0, 0.35) inset;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.book-form {
  margin: 20px;
  opacity: 0.9;
}
.user-input {
  width: 100%;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
}
.book-form-title {
  padding-top: 20px;
  padding-left: 60px;
  opacity: 0.9;
}
.form-group-radio {
  margin-top: 20px;
}
.submit-book-btn {
}
.bottom-form-buttons-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.submit-book-btn {
  font-family: "PT Sans Caption", sans-serif;
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  border-radius: 3px;
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
  width: 92.5px;
  margin-left: 30px;
  text-shadow: -1px -1px 0 #00000036, 1px -1px 0 #00000036, -1px 1px 0 #00000036,
    1px 1px 0 #00000036;
}
.submit-book-btn:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
.submit-book-btn:active {
  position: relative;
  top: 1px;
}

.cancel-submit-book-btn {
  font-family: "PT Sans Caption", sans-serif;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 24px;
  text-shadow: 0px 1px 0px #854629;
  margin-left: 20px;
  text-shadow: -1px -1px 0 #00000036, 1px -1px 0 #00000036, -1px 1px 0 #00000036,
    1px 1px 0 #00000036;
}
.cancel-submit-book-btn:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.cancel-submit-book-btn:active {
  position: relative;
  top: 1px;
}
/* ================================ edit Form ================== */
.edit-book-title {
  margin-left: 45px;
  margin-bottom: 10px;
}
.edit-form-buttons-container {
  margin-top: 15px;
  display: flex;
}

.edit-label {
  margin-top: 10px;
}
.user-input-edit {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
}
.submit-book-btn-edit {
  font-family: "PT Sans Caption", sans-serif;
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  border-radius: 3px;
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 12px;
  text-decoration: none;
  width: 70px;
  margin-left: 15px;
  text-shadow: -1px -1px 0 #00000036, 1px -1px 0 #00000036, -1px 1px 0 #00000036,
    1px 1px 0 #00000036;
}
.submit-book-btn-edit:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
.submit-book-btn-edit:active {
  position: relative;
  top: 1px;
}

.cancel-submit-book-btn-edit {
  font-family: "PT Sans Caption", sans-serif;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  width: 70px;
  text-shadow: 0px 1px 0px #854629;
  margin-left: 20px;
  text-shadow: -1px -1px 0 #00000036, 1px -1px 0 #00000036, -1px 1px 0 #00000036,
    1px 1px 0 #00000036;
}
.cancel-submit-book-btn-edit:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.cancel-submit-book-btn-edit:active {
  position: relative;
  top: 1px;
}

/* =========================== book cards ====================== */
.book-Card-container {
  border: 1px solid #d6ccca;
  display: flex;
  flex-direction: column;
  background-image: url("img/xx2.png");
  width: 200px;
  height: 310px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 50px;
  font-family: "PT Sans Caption", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 10px;
  box-shadow: 1px 2px 18px -1px rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 1px 2px 18px -1px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 1px 2px 18px -1px rgba(0, 0, 0, 0.35) inset;
}
.top-button-container {
  display: flex;
  justify-content: flex-end;
}
.book-name-container {
  margin-top: 20px;
}
.book-card-info {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  height: 300px;
}
.book-card-hr {
  width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.4;
}
.book-card-del {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  padding-top: 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  width: 35px;
  height: 35px;
  opacity: 0.85;
  margin-left: 10px;
}
.book-card-del:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}
.book-card-del:active {
  position: relative;
  top: 1px;
}
.info-paragraph-text {
  margin-top: 5px;
  inline-size: 200px;
  overflow-wrap: break-word;
  height: 30px;
}

.book-card-edit {
  box-shadow: inset 0px 1px 0px 0px #abc6ef;
  background: linear-gradient(to bottom, #227ac2 5%, #5399e9 100%);
  border-radius: 6px;
  border: 1px solid #101969;
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  padding-top: 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
  opacity: 0.85;
  color: #ffffff;
  width: 35px;
  height: 35px;
}
.book-card-edit:hover {
  background: linear-gradient(to bottom, #5399e9 5%, #227ac2 100%);
}
.book-card-edit:active {
  position: relative;
  top: 1px;
}
/* ===================================== Delete Window ======================== */

.are-you-sure {
  flex-direction: column;
}
.del-buttons-container {
  margin-top: 30px;
  display: flex;
}
.sure-message {
  margin-top: 100px;
  margin-left: 5px;
}
.no-button {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #b8e356;
  border-radius: 6px;
  border: 1px solid #83c41a69;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #86ae47;
  width: 70px;
}
.no-button:hover {
  background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
  background-color: #a5cc52;
}
.no-button:active {
  position: relative;
  top: 1px;
}
.yes-button {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d8352660;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  width: 70px;
  margin-left: 22px;
}
.yes-button:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}
.yes-button:active {
  position: relative;
  top: 1px;
}
